@tailwind base;
@tailwind components;
@tailwind utilities;

.wdt {
    width: 650px;
}

.wdt-output {
    @apply relative scrollbar scrollbar-thin scrollbar-thumb-gray-300
    bg-white dark:bg-gray-700 overflow-y-auto;
}

.wdt-input textarea {
    @apply block w-full resize-none font-mono text-xs shadow-sm
    border-gray-300 focus:ring-gray-500 focus:border-gray-500
    focus:ring-opacity-70 focus:border-opacity-70
    dark:border-gray-500 dark:bg-gray-700 dark:text-gray-200
    dark:focus:ring-gray-300 dark:focus:border-gray-300
    dark:focus:ring-opacity-70 dark:focus:border-opacity-70
    scrollbar-thin scrollbar-thumb-gray-300 bg-white dark:bg-gray-700
    overflow-x-hidden;
}

.dark .wdt-input select.input-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='rgba(156, 163, 175)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

.wdt-output textarea {
    @apply w-full text-xxs font-mono mt-1 border-0 resize-none break-all shadow-sm
    bg-gray-50 dark:bg-gray-600 dark:text-gray-200 focus:ring-0 focus:border-black
    scrollbar scrollbar-thin scrollbar-thumb-gray-300 dark:scrollbar-thumb-gray-500
    overflow-x-hidden;
}
